{
  "apps/nestjs-backend/**/*.{ts,tsx,js,jsx}": "pnpm --filter nestjs-backend run lint:fix",
  "apps/nextjs-frontend/**/*.{ts,tsx,js,jsx}": "pnpm --filter nextjs-frontend run lint:fix",
  "*.{json,md,css,html,ts,tsx,js,jsx}": ["pnpm run format"]
}
